@using MStartPreHiringTask.DAL.Models.Account;
@using MStartPreHiringTask.DAL.Models.User;
@model Account

@{
    var users = new SelectList(ViewBag.Users , "Id", "UserName");
}


<div class="form-group">
    <label class="col-form-label">User ID</label>
    <select class="form-control" asp-for="UserId" asp-items="@users">
        <option value="@null">
            -- Select UserName -- 
        </option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label">Account Number</label>
    <input asp-for="Account_Number" class="form-control" />
    <span asp-validation-for="Account_Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label">Balance</label>
    <input asp-for="Balance" class="form-control" />
    <span asp-validation-for="Balance" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label">Currency</label>
    <select class="form-control" asp-for="@Model.CurrencyType" asp-items="Html.GetEnumSelectList<Currencies>()">
        <option value="@null">
            -- Select Currency --
        </option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label">Status</label>
    <select class="form-control" asp-for="@Model.status" asp-items="Html.GetEnumSelectList<Status>()">
        <option value="@null">
            -- Select Status --
        </option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label">Update Date</label>
    <input asp-for="Update_DateTime_UTC" class="form-control" />
    <span asp-validation-for="Update_DateTime_UTC" class="text-danger"></span>
</div>